{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.number.errors }}
            <label for="{{ form.number.id_for_label }}">Номер комнаты: </label>
            <input type="number" class="form-control" id="{{ form.number.id_for_label }}" name="{{ form.number.name }}" min="0" required="">
        </div>
        <div class="form-group">
            {{ form.floor.errors }}
            <label for="{{ form.floor.id_for_label }}">Этаж: </label>
            <input type="number" class="form-control" id="{{ form.floor.id_for_label }}" name="{{ form.floor.name }}" min="0" required="">
        </div>
        <div class="form-group">
            {{ form.number_of_rooms.errors }}
            <label for="{{ form.number_of_rooms.id_for_label }}">Кол-во комнат: </label>
            <input type="number" class="form-control" id="{{ form.number_of_rooms.id_for_label }}" name="{{ form.number_of_rooms.name }}" min="0" required="">
        </div>
         <div class="form-group">
             {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}">Описание: </label>
            <textarea class="form-control" rows="5" id="{{ form.description.id_for_label }}" name="{{ form.description.name }}"></textarea>
        </div>
         <div class="form-group">
            {{ form.room_class.errors }}
            <label for="{{ form.room_class.id_for_label }}">Класс номера: </label>
              <select class="form-control" id="{{ form.room_class.id_for_label }}" name="{{ form.room_class.name }}">
                    {% for id, name in form.room_class.field.choices %}
                        <option value="{{ id }}">{{ name }}</option>
                    {% endfor %}
              </select>
        </div>
        <input type="submit" class="btn btn-success" value="Добавить">
    </form>
</div>
{% endblock %}