{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div class="form-group">
            <label for="number">Номер комнаты: </label>
            <div id="error_number" class="alert alert-danger" hidden></div>
            <input type="number" class="form-control" id="number" name="number" min="0" required="">
        </div>
        <div class="form-group">
            <label for="floor">Этаж: </label>
            <div id="error_floor" class="alert alert-danger" hidden></div>
            <input type="number" class="form-control" id="floor" name="floor" min="0" required="">
        </div>
        <div class="form-group">
            <label for="number_of_rooms">Кол-во комнат: </label>
            <div id="error_number_of_rooms" class="alert alert-danger" hidden></div>
            <input type="number" class="form-control" id="number_of_rooms" name="number_of_rooms" min="0" required="">
        </div>
         <div class="form-group">
            <label for="description">Описание: </label>
            <div id="error_description" class="alert alert-danger" hidden></div>
            <textarea class="form-control" rows="5" id="description" name="description"></textarea>
        </div>
         <div class="form-group">
            <label for="room_class">Класс номера: </label>
             <div id="error_room_class" class="alert alert-danger" hidden></div>
              <select class="form-control" id="room_class" name="room_class">
                  <option value="ECN">Эконом</option>
                  <option value="STD">Стандарт</option>
                  <option value="VIP">VIP</option>
              </select>
        </div>
        <button id="create-room-btn" class="btn btn-success">Добавить</button>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'scripts/create_room.js' %}"></script>
{% endblock %}