{% extends 'layout/base.html' %}

{% block content %}
    <div class="container">
        {% for room in rooms %}
            {% if not forloop.counter|divisibleby:2 %}
            <div class="row">
            {% endif %}
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="{% url 'hotel:detail' pk=room.pk %}">Номер {{ room.number }}</a></div>
                        <div class="panel-body"><a href="{% url 'hotel:detail' pk=room.pk %}">{{ room.get_room_class_display }} класс</a></div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
            <a href="{% url 'hotel:add' %}"><i>Добавить</i></a>
        {% endif %}
        {% for type_service in type_services %}
        <div class="rate">
            <div class="rate-title">
                <span>{{ type_service }}</span>
            </div>
            <a href="{% url 'hotel:put-rate' rate=1 type_id=type_service.id %}"><span class="emoji">😠</span></a>
            <a href="{% url 'hotel:put-rate' rate=2 type_id=type_service.id %}"><span class="emoji">😦</span></a>
            <a href="{% url 'hotel:put-rate' rate=3 type_id=type_service.id %}"><span class="emoji">😑</span></a>
            <a href="{% url 'hotel:put-rate' rate=4 type_id=type_service.id %}"><span class="emoji">😀</span></a>
            <a href="{% url 'hotel:put-rate' rate=5 type_id=type_service.id %}"><span class="emoji">😍</span></a>
            <div class="rate-avg">
                <span>{{ type_service.avg_rate }}</span>
                <span class="rate-avg-count">({{ type_service.count_rate }})</span>
            </div>
        </div>
        {% if type_services.last == type_service  %}
            <div class="rate">
                <div class="avg-avg-rate">
                    Средний рейтинг: {{ avg_types_rate|floatformat:2 }}
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
