{% extends 'layout/base.html' %}

{% block content %}
    <div class="container">
        {% for room in rooms %}
            {% if not forloop.counter|divisibleby:2 %}
            <div class="row">
            {% endif %}
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="{% url 'hotel:detail' pk=room.pk %}">Номер {{ room.number }}</a></div>
                        <div class="panel-body"><a href="{% url 'hotel:detail' pk=room.pk %}">{{ room.get_room_class_display }} класс</a></div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
            <a href="{% url 'hotel:add' %}"><i>Добавить</i></a>
        {% endif %}
    </div>
{% endblock %}
