{% extends 'layout/base.html' %}

{% block content %}
    <div class="container">
        {% for room in rooms %}
            {% if not forloop.counter|divisibleby:2 %}
            <div class="row">
            {% endif %}
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="{% url 'hotel:detail' pk=room.pk %}">Номер {{ room.number }}</a></div>
                        <div class="panel-body"><a href="{% url 'hotel:detail' pk=room.pk %}">{{ room.get_room_class_display }} класс</a></div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
            <a href="{% url 'hotel:add' %}"><i>Добавить</i></a>
        {% endif %}
        {% for type_service in type_services %}
        <div class="rate">
            <div class="rate-title">
                <span>{{ type_service }}</span>
            </div>
            <a class="rate-btn" id="typeservice_{{ type_service.id }}_1" href="#"><span class="emoji">😠</span></a>
            <a class="rate-btn" id="typeservice_{{ type_service.id }}_2" href="#"><span class="emoji">😦</span></a>
            <a class="rate-btn" id="typeservice_{{ type_service.id }}_3" href="#"><span class="emoji">😑</span></a>
            <a class="rate-btn" id="typeservice_{{ type_service.id }}_4" href="#"><span class="emoji">😀</span></a>
            <a class="rate-btn" id="typeservice_{{ type_service.id }}_5" href="#"><span class="emoji">😍</span></a>
            <div class="rate-avg">
                <span id="rate-avg_{{ type_service.id }}">{{ type_service.avg_rate }}</span>
                <span id="rate-avg-count_{{ type_service.id }}" class="rate-avg-count">({{ type_service.count_rate }})</span>
            </div>
        </div>
        {% endfor %}
        <div class="rate">
            <div class="avg-avg-rate">
                Средний рейтинг: {{ avg_types_rate|floatformat:2 }}
            </div>
        </div>
    </div>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        $(document).ready( function () {
            $(".rate-btn").on('click', function () {
               let type_service_id = $(this).attr('id').split('_')[1];
               let rate = $(this).attr('id').split('_')[2];
               $.ajax({
                   url: "put_rate/",
                   method: "POST",
                   data: {'csrfmiddlewaretoken': csrftoken, 'type_service_id': type_service_id,
                        'rate':rate
                   },
                   success: function (data) {
                        $(`#rate-avg_${type_service_id}`).text(data['avg_rate']);
                        $(`#rate-avg-count_${type_service_id}`).text(`(${data['count_rate']})`);
                   }
               });
               $.ajax({
                   url: "avg_rate/",
                   method: "GET",
                   success: function (data) {
                        $(".avg-avg-rate").text(`Средний рейтинг: ${data['avg_rate']}`;
                   }
               });
            })
        })
    </script>
{% endblock %}
