{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="login-container">
        <div class="form-group">
            <div class="col-sm-10">
              <input type="login" class="form-control" id="login" placeholder="Введите имя пользователя" name="login">
            </div>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="pwd" placeholder="Введите пароль" name="pwd">
            </div>
            <div class="col-sm-offset-2 col-sm-10">
              <button id="login-btn" class="btn btn-default">Войти</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'scripts/login.js' %}"></script>
{% endblock %}
