{% extends 'layout/base.html' %}

{% block content %}
    <div class="container">
        <h1>Личный кабинет</h1>
        {% include "hotel/dialog-view.html" with messages=messages %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
            <label for="text">Сообщение: </label>
            <textarea class="form-control" rows="5" id="text" name="text"></textarea>
            <input type="submit" class="btn btn-success" value="Отправить">
        </div>
        </form>
    </div>
{% endblock %}