{% extends 'layout/base.html' %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.started_at.errors }}
                <label for="{{ form.started_at.id_for_label }}">Начальная дата : </label>
                <input type="date" class="form-control" id="{{ form.started_at.id_for_label }}" name="{{ form.started_at.name }}" required="">
            </div>
        </form>
    </div>
{% endblock %}