<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Забронировать</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
        {{ form.started_at }}
        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>

<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>
    {{ form.as_p }}
    {{ form.errors }}
    <input type="submit" value="Забронировать">
</form>
</body>
</html>