{% extends 'layout/base.html' %}
{% block content %}
    <div class="container">
        <h1>Номер {{ room.number }}</h1>
        <ul>
            <li>Кол-во комнат: {{ room.number_of_rooms }}</li>
            <li>Этаж: {{ room.floor }}</li>
            <li>Класс: {{ room.get_room_class_display }}</li>
            <li>Описание: {{ room.description }}</li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url "hotel:edit" pk=room.pk %}">Изменить</a>
                <a href="{% url "hotel:delete" pk=room.pk %}">Удалить</a>
                <a href="{% url "hotel:reservation" pk=room.pk %}">Забронировать</a>
                <a href="{% url "hotel:check-in" room_id=room.id %}">Заселить</a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}